<footer class="bg-light text-center text-lg-start fixedBottom">
	<!-- Copyright -->
	<div class="text-center text-light fixed-left fixed-right p-3" style="background-color: rgba(0, 0, 0);">
	  © 2020 Copyright:
	  <a class="text-light" href="/">Gestão Financeira SA</a>
	</div>
	<!-- Copyright -->
  </footer>
