<%- include('layout.ejs'); %>
<div class="container mt-5">
<div class="row justify-content-around">
                    <div class="col-md-8">
                        <h2 class="text-center mt-5 mb-5">Gestão Financeira SA</h2>
                        <div class="d-block mt-5 mb-5"></div>
						<div class="d-flex flex-row justify-content-around mt-5">
							<a class="btn btn-outline-dark " href="/register">Cadastre sua Alocação Financeira</a>
							<a class="btn btn-outline-dark " href="/consult">Consulte suas Alocações Financeiras</a>
                        </div>
                    </div>
                </div>
</div>
<%- include('footer.ejs'); %>
</body>
</html>
