.fixedBottom{
	position:fixed;
	bottom: 0;
	left: 0;
	right: 0;
}

.fontHead{
	font-size: 20px;
}

.vh100{
	height: 100vh;
}

.mtop{
	margin-top: 200px;
}

.mAuto{
	margin-top: 30vh;
}

.radioButton{
	width: 80px;
	height: 40px;
	background-color: white;
	border-radius: 8px;
	color: #343A40;
	border: 1px solid #343A40;
}

.radioButton2{
	width: 80px;
	height: 40px;
	background-color: #343A40;
	border-radius: 8px;
	color: white;
	border: 1px solid #343A40;
}
.marginButtonCompra{
	margin-top: 4px;
	margin-left: 10px;
}

.marginButtonVenda{
	margin-top: 7px;
	margin-left: 15px;
}

.radioButton:hover{
	background-color: #343A40;
	color: white;
}



